@font-face {
    font-family: 'Cera Regular';
    src: url(../../fonts/Regular.ttf);
}

@font-face {
    font-family: 'Cera Medium';
    src: url(../../fonts/Medium.ttf);
}

$font-color : "#252525";
$primary-font: 'Cera Regular';
$secondary-font: 'Cera Medium';

@mixin flex($direction, $wrap, $justify, $align){

    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
    
}