@import '../global-component/global';

.Card{

    @include flex(column, nowrap,center,center);
    padding: 7.5px;
    width: 250px;

    &:hover{
        box-shadow: 1px 2px 37px -2px rgba(0,0,0,0.5);
        -webkit-box-shadow: 1px 2px 37px -2px rgba(0,0,0,0.5);
        -moz-box-shadow: 1px 2px 37px -2px rgba(0,0,0,0.5);
        transition: .2s ease-in-out;

    }
    
    &__image{
        width: 180px;
        height: 180px;
        @include flex(row,nowrap,center,center);

        & img{
            @extend .img;
         
        }

    }

    &__content{

        & p{
            color: $font-color-main;
            font-family: $bold-font;
            font-size: .75em;
            text-transform: uppercase;
        }

        & h5{
            padding: 2px 0;
            font-family: $secondary-font;
            font-weight: 500;
            color: $font-color;
            font-size: 1.125rem;
            line-height: 1.3333333333em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }
}