@import '../global/global';


.Deals{
    background-image: url('https://ogami-react.vercel.app/assets/images/sections/dale-of-week/two/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3.125em 0;
    @include flex(row,wrap, center,center);
    gap:50px;  

    &__content{
        text-align: center;

        h2{
            font-family: $bold-font;
            font-size: 2.75em;
        }
        p{
            font-family: $primary-font;
            color: $font-grey;
        }

        &--timer{
            margin-top: 30px;
        }

        & button{
            @extend .button;
            margin-top: 30px;
        }
      
    }


    &__image{
        animation: infinity 1s linear infinite;
    }

}