@import '../global/global';

.HeroOptions{
    @include flex(row, wrap, center,center);
    gap:26px;
    margin: 0 100px 50px;

    &__image{
        width: 550px;
        overflow: hidden;

        img{
          @extend .image;
        }
    }
}